body,html{
    margin: 0;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul,li {
    list-style: none;
   padding:0;
}
ul{
    margin: 0;
}
a{
    text-decoration: none;
}
*::-webkit-scrollbar{
    display: none;
}