.header{
    height: 120px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
 
}
.first-page,.second-page{
    height: 100vh;
    width: 100vw;
}
.nav{
    color: #000;
    font-weight: 400;
    font-size: 30px;
}
.main-box{
    height: calc(100vh-120px);
    padding: 0 90px;
}
.avtor-box{
    display: flex;
    justify-content: space-between;
}
.title{
    flex: 1;
    padding-left: 80px;
    text-transform: uppercase;
    box-sizing: border-box;
}
.title-h1{
    font-size: 60px;
    font-weight: 400;
  
}
.article{
    font-size: 20px;
    font-weight: 400;
}

/* 缩略图 */
.image-list{
    display: flex;
    height: 260px;
    width: 100%;
    justify-content: space-between;
}
.image-list-li{
    /* flex: 1; */
}
.small-image{
    width: 100%;
    height:  100%;
}
.second-page{
    padding: 0 90px;
    display: flex;
    box-sizing: border-box;
}
.left, .right{
    height: 100%;
    width: 50%;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    position: relative;
    padding-top: 200px;
    padding: 150px 60px;
}
.contact-button{
    font-size: 24px;
    font-weight: 400;
    color: #000;
    writing-mode: vertical-lr;
    position: absolute;
    right: -32px;
    top: 100px
}